
.categories {
    display: flex;           
    justify-content: center; 
    align-items: center;     
    padding: 20px;           
    background-color: none;
  }
  
  
  .categories ul {
    list-style: none;        
    padding: 0;             
    margin: 0;               
    display: flex;           
  }
  
  
  .categories li {
    margin: 0 15px;          
    font-size: 18px;         
    color: #333;             
    cursor: pointer;         
    transition: color 0.3s;  
  }
  
  
  .categories li:hover {
    color: #007bff;          
  }
  